---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import homeTrackers from '../assets/landing-page/home_trackers.png';
---

<Layout title="Glu | GLP-1 Tracker" preloadImage={homeTrackers.src}>
  <div class="min-h-screen bg-slate-50 text-slate-900">
    <Hero />

    <Footer />
  </div>
</Layout>
